<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>

<body>

    <form action="/login" method="post">
        <h3>Stock Portfolio Tracker</h3>
        <div class="line"></div>

        <div class="username">
            <label id="username">Username*:</label><br>
            <input type="text/email" id="username" name="username" placeholder="Username or Email (Case sensitive)"
                required>
        </div>

        <div class="password">
            <label id="password" for="username">Password*:</label><br>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>

        <a href="#">Forget Password ?</a>
        <br>

        <div class="btns">

            <button id="btn1" type="submit">Login</button>
            <button id="btn2"><a id="register" href="/register">Free Register</a> </button>
        </div>

            

        
            
        

    </form>

</body>

</html>