/* Styles for the navigation bar */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Style for the navigation bar text */
.navbar-text {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Style for the navigation bar text */
.navbar-text {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Style for the form section */
.add-stock-section {
    width: 80%;
    margin: 20px auto;
}

/* Style for the form elements */
.add-stock-form input[type="text"],
.add-stock-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.add-stock-form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}

.update-button,
.delete-button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    color: #333;
    text-transform: uppercase;
}