body{
    background-color: #a9a9a9;
}

form{
    border: 1px solid black;
    border-radius: 15px;
    width: 35%;
    margin: 120px auto auto auto;
    background-color: #d9d9d9;

}

h3{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.line{
    border:1px solid black;
    width: 94%;
    margin-left: 3%;
}

.username,.password{
    /* margin-left: 10%;
    margin: 15px ; */
    margin: 25px 6% 15px 6%;
}
input{
    width: 94%;
    height: 22px;
}
label{
    font-size: 18px;
}


a{
    color: #333333;
    font-size: 13px;
    margin-left: 6%;
    font-weight: lighter;
}

.btns{
    margin: 15px 9% 35px 6%;
    display: flex;
    justify-content: flex-end;
    
}
#btn1{
    margin-right: 4%;
}

button{
    font-size: 16px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

#register{
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: contents;

}
